body {
  background-color: #f9f5fe;
  font-family: "Lucida Console", "Courier New", monospace;
}

/* --------------------------------- Header --------------------------------- */

header {
  background-color: #7013ce;
  border-bottom: 1px solid;
  color: #ecdcfc;
  font-size: 40px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

header h1 {
  color: #7013ce;
  font-size: 4px;
  text-align: center;
}

/* --------------------------------- Tables --------------------------------- */

#consoleTitle {
  text-align: center;
  font-size: 30px;
}

#buttonPanel {
  text-align: center;
  margin: 50px 0;
  /* border: 1px solid black; */
}

#consoles {
  text-align: left;
  width: 100%;
}

#consoles td,
#consoles th {
  border: 1px solid;
  padding: 10px;
}

/* #deleteButton {
  margin: 0 10px 0 0;
} */

/* --------------------------------- Buttons --------------------------------- */

.btn.btn-primary {
  background-color: #9135ec;
  border: none;
  border-radius: 3px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  color: #ecdcfc;
  cursor: pointer;
  font-size: 18px;
  margin-top: 15px;
  padding: 15px;
  text-decoration: none;
}

.btn.btn-primary:hover {
  background-color: #b475f2;
  color: white;
  transition-duration: 0.2s;
}

.btn.btn-primary:focus {
  transform: scale(0.9);
}

.btn {
  background-color: #9135ec;
  border-radius: 3px;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  color: #ecdcfc;
  cursor: pointer;
  font-size: 16px;
  margin-right: 5px;
  padding: 10px 10px;
  text-decoration: none;
}

.btn:hover {
  background-color: #b475f2;
  color: white;
  transition-duration: 0.2s;
}

.btn:focus {
  transform: scale(0.9);
}

/* --------------------------------- Forms --------------------------------- */

.form {
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
}

.form h1 {
  font-size: 24px;
  text-align: left;
}
