body {
  background-color: #f9f5fe;
  font-family: "Lucida Console", "Courier New", monospace;
}

#consoleTitle {
  text-align: center;
  font-size: 30px;
}

#buttonPanel {
  text-align: center;
  margin: 50px 0;
}

#consoles {
  text-align: left;
  width: 100%;
}

#consoles td,
#consoles th {
  border: 1px solid;
  padding: 10px;
}

#deleteButton {
  margin: 0 10px 0 0;
}

header {
  background-color: #8118e9;
  border-bottom: 1px solid;
  color: #ecdcfc;
  font-size: 40px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #8118e9;
  font-size: 4px;
  text-align: center;
}

.btn.btn-primary {
  background-color: #9135ec;
  border: none;
  text-decoration: none;
  font-size: 16px;
  color: #ecdcfc;
  padding: 15px 15px;
  margin: 5px 5px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.btn.btn-primary:hover {
  background-color: #c697f5;
  color: white;
  transition-duration: 0.3s;
}

.btn.btn-primary:focus {
  transform: translate(0.7);
}

.btn.btn-danger.mr-3 {
  background-color: #9135ec;
  border: none;
  text-decoration: none;
  /* font-size: 16px; */
  color: #ecdcfc;
  /* padding: 15px 15px; */
  /* margin: 5px 5px; */
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}
